/* Variables for website fonts */
$my-sans: "Beausite", sans-serif;
$my-serif: "DM Serif Text", serif;

/* Variables for website colors */
$my-white: #ddd3d1;
$my-black: #141010;
$color-accent: #744874;

/* Mixin that applies flex and centers items */
@mixin to-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Mixin that applies absolute and centers items with position left */
@mixin center-absolute {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

/* General settings to apply to whole page */
* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-decoration: none;

    /* Removes underlines on links */
}

body {
    background-color: $my-black;
    color: $my-white;
    font-family: $my-sans;
}

/* === Header */
.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.ador-logo {
    height: 4.58vw;
    margin-top: 4.294vw;
}

nav { /* Navigation Bar */
    transform: rotate(-90deg); /* Rotates content */

    li {
        font-size: 1.527vw;
        letter-spacing: 0.477vw;
        list-style-type: none;
        margin-bottom: 1.431vw;
        text-align: right;
    }

    a {
        color: $my-white;
    }
}

li.active { /* Adds a rectangle around word when clicked */
    border: 0.191vw solid $my-white;
    margin-bottom: 1.431vw;
    padding: 0.954vw;

    a:hover {
        color: white;
    }
}

a:hover { /* Changes color to purple to highlight text when hovered */
    color: $color-accent;
}

/* === Title */
.song-title {
    margin-bottom: 5.725vw;
    margin-top: 4.771vw;

    @include to-center();

    .title-logo {
        width: 58.874vw;
    }
}

/* === Footer */
footer {
    -moz-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    -webkit-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
}

.card-container {
    display: flex;
    flex-direction: row;
    margin: 3.817vw auto;

    a {
        color: $color-accent;
    }

    .footer-header {
        font-family: $my-sans;
        font-size: 2.863vw;
        font-weight: bold;
        margin-bottom: 1.908vw;
        width: 25.286vw;
    }

    .footer-text {
        font-family: $my-serif;
        font-size: 2.385vw;
    }

    .card {
        margin: 0 auto;
        width: 15%;
    }

    .card.column1 {
        #NJ-name {
            font-family: "Suerte";
        }

        .connect-socmed { /* Wraps icons onto multiple lines, from top to bottom. */
            display: flex;
            flex-wrap: wrap;
            width: 75%;
        }

        .socmed-logos {
            filter: brightness(0) invert(1);
            width: 4.771vw;
        }
    }

    .card.column4 {
        .footer-text {
            color: white;
        }
    }
}

.footer-copyright {
    border-top: 1px solid $my-white;

    @include to-center();

    .copyright-text {
        color: white;
        font-family: $my-serif;
        font-size: 1.718vw;
        margin: 1.908vw;
    }
}

/* ┌──────────────────┐
       PART 1: HOME
   └──────────────────┘ */
/* === Main: Subtitle */
.subtitle-container {
    .subtitle {
        color: white;
        margin-top: 2.863vw;

        @include to-center();

        #subtitle-date {
            font-family: $my-sans;
            font-size: 2.767vw;
            letter-spacing: 2.004vw;
            margin-right: 31.489vw;
            position: absolute;
        }

        #subtitle-artist {
            font-family: "Suerte";
            font-size: 4.485vw;
            margin-right: 33.397vw;
            margin-top: 6.679vw;
            position: absolute;
        }
    }
}

/* === Main: Poster Top */
.poster-top {
    @include to-center();

    p {
        font-family: $my-serif;
        font-size: 3.34vw;
        margin-right: 37.214vw;
        margin-top: 47.71vw;
        position: absolute;
        text-align: left;
    }

    #you {
        font-size: 13.359vw;
        line-height: 14.313vw;
    }

    #dia1 { /* Positions the SVG */
        margin-left: 70.611vw;
        margin-top: 28.626vw;
        position: absolute;
        width: 7.252vw;
    }

    #dia2 {
        margin-left: 78.244vw;
        margin-top: 38.168vw;
        position: absolute;
        width: 3.912vw;
    }
}

/* === Main: Poster Sides */
.sides {
    background-image: url(bg-images/hyein-poster-sides.png);
    height: 62.977vw;
    margin-top: 40vw;
    position: absolute;
    right: 95%; /* Positions image far to hide part of the image as an illusion */
    width: 38.168vw;
    z-index: -1;
}

.sides:nth-child(2) { /* Positions image far to hide part of the image as an illusion */
    left: 95%;
}

/* === Main: Poster Hyein */
.poster-hyein {
    @include to-center();

    img {
        position: absolute;
        top: 66.794vw;
        width: 76.336vw;
        z-index: 2;
    }
}

/* === Main: Behind Poster Hyein */
.poster-hyein-behind {
    display: flex;
    flex-direction: column;

    .poster-behind-left {
        @include to-center();

        img {
            margin-right: 33.397vw;
            position: absolute;
            top: 86.355vw;
            width: 28.34vw;
            z-index: 1;
        }

        p {
            color: #0000003f;
            font-family: "Do Hyeon";
            font-size: 17.176vw;
            line-height: 17.176vw;
            margin-right: 23.855vw;
            margin-top: 128.817vw;
            position: absolute;
            z-index: 1;
        }

        #rectangle { /* Creates a rectangle for design */
            background: $color-accent;
            height: 3.817vw;
            margin-right: 33.397vw;
            margin-top: 222.328vw;
            position: absolute;
            width: 28.34vw;
            z-index: 2;
        }
    }

    .poster-behind-right {
        @include to-center();
    }

    .stanza {
        background-clip: text;
        color: $my-black;
        display: flex;
        flex-direction: column;
        font-size: 3.244vw;
        margin: 145.992vw 0 4.771vw 41.031vw;
        position: absolute;
        text-align: right;
        width: 23.855vw;
        z-index: 0;

        /** TEXT GRADIENT */
        background-image: -webkit-linear-gradient(10deg,
                #14101087 50%,
                $my-white 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }

    .poster-behind-rec {
        border: 0.191vw solid $my-white;
        height: 95.42vw;
        margin-left: 23.855vw;
        margin-top: 138.359vw;
        position: absolute;
        width: 49.618vw;
        z-index: -1;
    }
}

/* === Main: Poster Below */
.poster-below {
    margin: 119.275vw 23.855vw 0 18.626vw;
    position: relative;
    width: 70vw;
    z-index: 2;

    @include to-center();

    p {
        font-family: $my-serif;
        font-size: 6.679vw;
        font-style: italic;
        letter-spacing: 0.668vw;
        margin-bottom: 2.863vw;
        text-align: right;
    }

    #dreaming {
        font-size: 14.313vw;
        font-style: normal;
        letter-spacing: 0px;
    }
}

/* === Main: Description */
.bottom-desc {
    margin-bottom: 28.626vw;

    h1 {
        font-size: 3.435vw;
        font-style: italic;
        margin: 4.771vw auto;
        text-align: center;
    }

    p {
        color: white;
        font-family: $my-serif;
        font-size: 3.053vw;
        margin: 0 auto;
        max-width: 76.336vw;
        text-align: center;
    }

    svg {
        margin: 9.542vw auto 0;

        @include to-center();
    }
}

/* ┌──────────────────┐
       PART 2: SONG
   └──────────────────┘ */
.streaming-container {
    background-image: url(bg-images/pic2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur;
    height: 95.42vw;
    margin-bottom: 28.626vw;

    @include to-center();

    .stream-top {
        @include to-center();

        .nj-image {
            filter: drop-shadow(2px 11px 4px $my-white);
            position: relative;

            img {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                margin-left: 9.542vw;
                transition: all 1s ease;
                width: 49.618vw;
            }

            img:hover {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                margin-left: 19.084vw;
                transition: all 1s ease;
                width: 59.16vw;
            }

            .title {
                -webkit-text-fill-color: $my-white;
                -webkit-text-stroke-color: $my-black;
                -webkit-text-stroke-width: 1.5px;
                bottom: 3.817vw;
                color: $my-black;
                font-family: $my-serif;
                font-size: 6.679vw;
                left: 29.58vw;
                max-width: 25.763vw;
                position: absolute;
                text-align: right;
            }
        }

        .sites {
            .stream-header {
                color: $my-white;
                font-family: "Gioviale";
                font-size: 14.313vw;
                line-height: 16.221vw;
                margin-left: 10.496vw;
                max-width: 55.344vw;
                display: inline-block;
                line-height: 16.221vw;
                overflow: hidden;
            }

            .sites-container {
                margin: 0 auto;
                max-width: 50%;

                .stream-logos {
                    filter: brightness(0) invert(1);
                    margin: 0.477vw;
                    width: 11.45vw;
                }
            }
        }
    }
}

.line-bg {
    top: 400.763vw;

    @include center-absolute();
}

.video-analysis {
    position: relative;

    .analysis-header {
        color: $my-white;
        font-family: "Gioviale";
        font-size: 14.313vw;
        line-height: 14.313vw;
        text-align: right;
        overflow: hidden;

        @include center-absolute();
    }

    .analysis-bg {
        display: block;
        margin: 19.084vw auto;
        width: 66.794vw;
    }
}

.storytelling {
    h1 {
        font-size: 4.771vw;
        margin-bottom: 4.771vw;
        text-align: center;
    }

    .screenshot {
        filter: drop-shadow(1px 1px 7px $my-white);
        height: 39.122vw;
        margin-bottom: 9.542vw;
        overflow: hidden;
        position: relative;
        width: 100%;

        @include to-center();

        .screenshot-pic {
            img {
                top: 0;

                @include center-absolute;
            }
        }

        .screenshot-text {
            max-width: 66.794vw;
            text-shadow: 2px 2px 5px $my-black;
            top: 23.855vw;

            @include center-absolute();

            h2 {
                color: $color-accent;
                font-family: $my-sans;
                font-size: 2.863vw;
                font-style: italic;
            }

            p {
                color: white;
                font-family: $my-serif;
                font-size: 1.908vw;
            }

            .white {
                color: $my-white;
            }
        }
    }
}

/* ┌──────────────────┐
       PART 3: ARTIST
   └──────────────────┘ */
.artist {
    .artist-header {
        color: $my-white;
        font-family: "Gioviale";
        font-size: 14.313vw;
        margin-top: 19.084vw;
        line-height: 14.313vw;
        overflow: hidden;

        @include to-center;
    }

    .perf-video {
        @include to-center;
    }

    .artist-name1 {
        font-family: "Suerte Outline";
        font-size: 9.542vw;

        @include center-absolute();
    }

    .artist-name2 {
        font-family: "Suerte";
        font-size: 8.588vw;

        @include center-absolute();
    }

    /* Container of members */
    .NWJNS {
        flex-wrap: wrap;
        margin-top: 14.313vw;

        @include to-center;

        .members {
            background-color: $my-white;
            height: 30.057vw;
            margin: 1.908vw;
            width: 30.057vw;

            .mem-pic {
                display: block;
                margin: 2.863vw auto 0.954vw;
                width: 70%;
            }

            p {
                color: $color-accent;
                font-family: $my-serif;
                font-size: 3.053vw;
                text-align: center;
            }
        }

        .members:hover {
            animation: jelly 0.5s;
            filter: brightness(1.2);

            /* Adds animation */
        }
    }
}

/* ┌──────────────────┐
        ANIMATION
   └──────────────────┘ */
/* JELLY BOUNCE */
@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

/* Class for FADE-IN */
.scroll {
    opacity: 0;
    transform: translateY(-30px);
    transition: 1s;
}

.scroll--show {
    opacity: 1;
    transform: translateY(0px);
}