/* Variables for website fonts */
$my-sans: "Beausite", sans-serif;
$my-serif: "DM Serif Text", serif;

/* Variables for website colors */
$my-white: #ddd3d1;
$my-black: #141010;
$color-accent: #744874;

/* Mixin that applies flex and centers items */
@mixin to-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Mixin that applies absolute and centers items with position left */
@mixin center-absolute {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

/* General settings to apply to whole page */
* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-decoration: none;

    /* Removes underlines on links */
}

body {
    background-color: $my-black;
    color: $my-white;
    font-family: $my-sans;
}

/* === Header */
.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1350px;
}

.ador-logo {
    height: 48px;
    margin-top: 45px;
}

nav { /* Navigation Bar */
    transform: rotate(-90deg); /* Rotates content */

    li {
        font-size: 16px;
        letter-spacing: 5px;
        list-style-type: none;
        margin-bottom: 15px;
        text-align: right;
    }

    a {
        color: $my-white;
    }
}

li.active { /* Adds a rectangle around word when clicked */
    border: 2px solid $my-white;
    margin-bottom: 15px;
    padding: 10px;

    a:hover {
        color: white;
    }
}

a:hover { /* Changes color to purple to highlight text when hovered */
    color: $color-accent;
}

/* === Title */
.song-title {
    margin-bottom: 60px;
    margin-top: 50px;

    @include to-center();

    .title-logo {
        width: 617px;
    }
}

/* === Footer */
footer {
    -moz-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    -webkit-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
}

.card-container {
    display: flex;
    flex-direction: row;
    margin: 40px auto;

    a {
        color: $color-accent;
    }

    .footer-header {
        font-family: $my-sans;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        width: 265px;
    }

    .footer-text {
        font-family: $my-serif;
        font-size: 25px;
    }

    .card {
        margin: 0 auto;
        width: 15%;
    }

    .card.column1 {
        #NJ-name {
            font-family: "Suerte";
        }

        .connect-socmed { /* Wraps icons onto multiple lines, from top to bottom. */
            display: flex;
            flex-wrap: wrap;
            width: 75%;
        }

        .socmed-logos {
            filter: brightness(0) invert(1);
            width: 50px;
        }
    }

    .card.column4 {
        .footer-text {
            color: white;
        }
    }
}

.footer-copyright {
    border-top: 1px solid $my-white;

    @include to-center();

    .copyright-text {
        color: white;
        font-family: $my-serif;
        font-size: 18px;
        margin: 20px;
    }
}

/* ┌──────────────────┐
       PART 1: HOME
   └──────────────────┘ */
/* === Main: Subtitle */
.subtitle-container {
    .subtitle {
        color: white;
        margin-top: 30px;

        @include to-center();

        #subtitle-date {
            font-family: $my-sans;
            font-size: 29px;
            letter-spacing: 21px;
            margin-right: 330px;
            position: absolute;
        }

        #subtitle-artist {
            font-family: "Suerte";
            font-size: 47px;
            margin-right: 350px;
            margin-top: 70px;
            position: absolute;
        }
    }
}

/* === Main: Poster Top */
.poster-top {
    @include to-center();

    p {
        font-family: $my-serif;
        font-size: 35px;
        margin-right: 390px;
        margin-top: 500px;
        position: absolute;
        text-align: left;
    }

    #you {
        font-size: 140px;
        line-height: 150px;
    }

    #dia1 { /* Positions the SVG */
        margin-left: 740px;
        margin-top: 300px;
        position: absolute;
    }

    #dia2 {
        margin-left: 820px;
        margin-top: 400px;
        position: absolute;
    }
}

/* === Main: Poster Sides */
.sides {
    background-image: url(bg-images/hyein-poster-sides.png);
    height: 660px;
    position: absolute;
    right: 95%; /* Positions image far to hide part of the image as an illusion */
    top: 1030px;
    width: 400px;
    z-index: -1;
}

.sides:nth-child(2) { /* Positions image far to hide part of the image as an illusion */
    left: 95%;
}

/* === Main: Poster Hyein */
.poster-hyein {
    @include to-center();

    img {
        position: absolute;
        top: 700px;
        width: 800px;
        z-index: 2;
    }
}

/* === Main: Behind Poster Hyein */
.poster-hyein-behind {
    display: flex;
    flex-direction: column;

    .poster-behind-left {
        @include to-center();

        img {
            margin-right: 350px;
            position: absolute;
            top: 905px;
            z-index: 1;
        }

        p {
            color: #0000003f;
            font-family: "Do Hyeon";
            font-size: 180px;
            line-height: 180px;
            margin-right: 250px;
            margin-top: 1350px;
            position: absolute;
            z-index: 1;
        }

        #rectangle { /* Creates a rectangle for design */
            background: $color-accent;
            height: 40px;
            margin-right: 350px;
            margin-top: 2330px;
            position: absolute;
            width: 297px;
            z-index: 2;
        }
    }

    .poster-behind-right {
        @include to-center();
    }

    .stanza {
        background-clip: text; /* Creates a rectangle for design */
        color: $my-black;
        display: flex;
        flex-direction: column;
        font-size: 34px;
        margin: 1530px 0 50px 430px;
        position: absolute;
        text-align: right;
        width: 250px;
        z-index: 0;

        /** TEXT GRADIENT */
        background-image: -webkit-linear-gradient(10deg,
                #14101087 50%,
                $my-white 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }

    .poster-behind-rec {
        border: 2px solid $my-white;
        height: 1000px;
        margin-left: 250px;
        margin-top: 1450px;
        position: absolute;
        width: 520px;
        z-index: -1;
    }
}

/* === Main: Poster Below */
.poster-below {
    margin: 1250px 250px 0 300px;
    position: relative;
    z-index: 2;

    @include to-center();

    p {
        font-family: $my-serif;
        font-size: 70px;
        font-style: italic;
        letter-spacing: 7px;
        margin-bottom: 30px;
        text-align: right;
    }

    #dreaming {
        font-size: 150px;
        font-style: normal;
        letter-spacing: 0px;
    }
}

/* === Main: Description */
.bottom-desc {
    margin-bottom: 300px;

    h1 {
        font-size: 36px;
        font-style: italic;
        margin: 50px auto;
        text-align: center;
    }

    p {
        color: white;
        font-family: $my-serif;
        font-size: 32px;
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
    }

    svg {
        margin: 100px auto 0;

        @include to-center();
    }
}

/* ┌──────────────────┐
       PART 2: SONG
   └──────────────────┘ */
.streaming-container {
    background-image: url(bg-images/pic2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur;
    height: 1000px;
    margin-bottom: 300px;

    @include to-center();

    .stream-top {
        @include to-center();

        .nj-image {
            filter: drop-shadow(2px 11px 4px $my-white);
            position: relative;

            img {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                margin-left: 100px;
                transition: all 1s ease;
                width: 520px;
            }

            img:hover {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                margin-left: 200px;
                transition: all 1s ease;
                width: 620px;
            }

            .title {
                -webkit-text-fill-color: $my-white;
                -webkit-text-stroke-color: $my-black;
                -webkit-text-stroke-width: 1.5px;
                bottom: 40px;
                color: $my-black;
                font-family: $my-serif;
                font-size: 70px;
                left: 310px;
                max-width: 270px;
                position: absolute;
                text-align: right;
            }
        }

        .sites {
            .stream-header {
                color: $my-white;
                font-family: "Gioviale";
                font-size: 150px;
                line-height: 170px;
                margin-left: 110px;
                max-width: 580px;
            }

            .sites-container {
                margin: 0 auto;
                max-width: 50%;

                .stream-logos {
                    filter: brightness(0) invert(1);
                    margin: 5px;
                    width: 120px;
                }
            }
        }
    }
}

.line-bg {
    top: 4200px;

    @include center-absolute();
}

.video-analysis {
    position: relative;

    .analysis-header {
        color: $my-white;
        font-family: "Gioviale";
        font-size: 150px;
        line-height: 150px;
        text-align: right;

        @include center-absolute();
    }

    .analysis-bg {
        display: block;
        margin: 200px auto;
        width: 700px;
    }
}

.storytelling {
    h1 {
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    .screenshot {
        filter: drop-shadow(1px 1px 7px $my-white);
        height: 410px;
        margin-bottom: 100px;
        overflow: hidden;
        position: relative;
        width: 100%;

        @include to-center();

        .screenshot-pic {
            img {
                top: 0;

                @include center-absolute;
            }
        }

        .screenshot-text {
            max-width: 700px;
            text-shadow: 2px 2px 5px $my-black;
            top: 250px;

            @include center-absolute();

            h2 {
                color: $color-accent;
                font-family: $my-sans;
                font-size: 30px;
                font-style: italic;
            }

            p {
                color: white;
                font-family: $my-serif;
                font-size: 20px;
            }

            .white {
                color: $my-white;
            }
        }
    }
}

/* ┌──────────────────┐
       PART 3: ARTIST
   └──────────────────┘ */
.artist {
    .artist-header {
        color: $my-white;
        font-family: "Gioviale";
        font-size: 150px;
        margin-top: 200px;

        @include to-center;
    }

    .perf-video {
        @include to-center;
    }

    .artist-name1 {
        font-family: "Suerte Outline";
        font-size: 100px;

        @include center-absolute();
    }

    .artist-name2 {
        font-family: "Suerte";
        font-size: 90px;

        @include center-absolute();
    }

    /* Container of members */
    .NWJNS {
        flex-wrap: wrap;
        margin-top: 150px;

        @include to-center;

        .members {
            background-color: $my-white;
            height: 315px;
            margin: 20px;
            width: 315px;

            .mem-pic {
                display: block;
                margin: 30px auto 10px;
                width: 70%;
            }

            p {
                color: $color-accent;
                font-family: $my-serif;
                font-size: 32px;
                text-align: center;
            }
        }

        .members:hover {
            animation: jelly 0.5s;
            filter: brightness(1.2);

            /* Adds animation */
        }
    }
}

/* ┌──────────────────┐
        ANIMATION
   └──────────────────┘ */
/* JELLY BOUNCE */
@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

/* Class for FADE-IN */
.scroll {
    opacity: 0;
    transform: translateY(-30px);
    transition: 1s;
}

.scroll--show {
    opacity: 1;
    transform: translateY(0px);
}