$my-sans: "Beausite", sans-serif;
$my-serif: "DM Serif Text", serif;
$my-white: #DDD3D1;
$my-black: #141010;
$color-accent: #744874;

@mixin to-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    text-decoration: none
}

body {
    font-family: $my-sans;
    background-color: $my-black;
    color: $my-white;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    width: 1350px;
    margin: auto;
}

.ador-logo {
    margin-top: 45px;
    height: 48px;
}

nav {
    transform: rotate(-90deg);

    li {
        font-size: 16px;
        text-align: right;
        list-style-type: none;
        margin-bottom: 15px;
        letter-spacing: 5px;
    }

    a {
        color: $my-white;
    }
}

li.active {
    border: 2px solid $my-white;
    padding: 10px;
    margin-bottom: 15px;

    a:hover {
        color: white;
    }
}

a:hover {
    color: $color-accent;
}

/* Title */
.song-title {
    @include to-center();
    margin-top: 50px;
    margin-bottom: 60px;

    .title-logo {
        width: 617px;
    }
}

/* Footer */
footer {
    box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    -webkit-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
    -moz-box-shadow: 2px -57px 54px 18px rgba(116, 72, 116, 0.75);
}

.card-container {
    display: flex;
    flex-direction: row;
    margin: 40px auto;

    a {
        color: $color-accent;
    }

    .footer-header {
        font-size: 30px;
        font-family: $my-sans;
        font-weight: bold;
        width: 265px;
        margin-bottom: 20px;
    }

    .footer-text {
        font-size: 25px;
        font-family: $my-serif;
    }

    .card {
        margin: 0 auto;
        width: 15%;
    }

    .card.column1 {
        #NJ-name {
            font-family: "Suerte";
        }

        .connect-socmed {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
        }

        .socmed-logos {
            width: 50px;
            filter: brightness(0) invert(1);
        }
    }

    .card.column4 {
        .footer-text {
            color: white;
        }
    }
}

.footer-copyright {
    @include to-center();

    border-top: 1px solid $my-white;

    .copyright-text {
        margin: 20px;
        font-family: $my-serif;
        font-size: 18px;
        color: white;
    }
}

/* ┌──────────────────┐
       PART 1: HOME
   └──────────────────┘ */

/* Main: Subtitle */
.subtitle-container {
    .subtitle {
        @include to-center();
        margin-top: 30px;
        color: white;

        .subtitle-date {
            position: absolute;
            margin-right: 330px;
            font-family: $my-sans;
            letter-spacing: 21px;
            font-size: 29px;
        }

        .subtitle-artist {
            position: absolute;
            margin-top: 70px;
            margin-right: 350px;
            font-family: "Suerte";
            font-size: 47px;
        }
    }
}

/* Main: Poster Top */
.poster-top {
    @include to-center();

    p {
        position: absolute;
        margin-top: 500px;
        margin-right: 390px;
        text-align: left;

        font-family: $my-serif;
        font-size: 35px;
    }

    #you {
        line-height: 150px;
        font-size: 140px;
    }

    #dia1 {
        position: absolute;
        margin-left: 740px;
        margin-top: 300px;
    }

    #dia2 {
        position: absolute;
        margin-left: 820px;
        margin-top: 400px;
    }
}


/* Main: Poster Sides */
.sides {
    background-image: url(bg-images/hyein-poster-sides.png);
    width: 400px;
    height: 660px;
    position: absolute;
    top: 1030px;
    z-index: -1;
    right: 95%;
}

.sides:nth-child(2) {
    left: 95%;
}

/* Main: Poster Hyein */
.poster-hyein {
    @include to-center();

    img {
        position: absolute;
        width: 800px;
        top: 700px;
        z-index: 2;
    }
}

/* Main: Behind Poster Hyein */
.poster-hyein-behind {
    display: flex;
    flex-direction: column;

    .poster-behind-left {
        @include to-center();

        img {
            position: absolute;
            top: 905px;
            margin-right: 350px;
            z-index: 1;
        }

        p {
            position: absolute;
            line-height: 180px;
            color: #0000003f;
            margin-top: 1350px;
            margin-right: 250px;
            font-family: "Do Hyeon";
            font-size: 180px;
            z-index: 1;
        }

        #rectangle {
            position: absolute;
            z-index: 2;
            margin-top: 2330px;
            margin-right: 350px;
            width: 297px;
            height: 40px;
            background: $color-accent;
        }
    }

    .poster-behind-right {
        @include to-center();
    }

    .stanza {
        position: absolute;
        z-index: 0;
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-top: 1530px;
        margin-left: 430px;
        text-align: right;
        font-size: 34px;
        margin-bottom: 50px;

        /** TEXT GRADIENT */
        color: $my-black;
        background-image: -webkit-linear-gradient(10deg, #14101087 50%, $my-white 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .poster-behind-rec {
        position: absolute;
        margin-left: 250px;
        margin-top: 1450px;
        width: 520px;
        height: 1000px;
        border: 2px solid $my-white;
        z-index: -1
    }
}

/* Main: Poster Below */
.poster-below {
    @include to-center();
    position: relative;
    z-index: 2;
    margin: 1250px 250px 0 300px;

    p {
        text-align: right;
        font-family: $my-serif;
        margin-bottom: 30px;
        font-style: italic;
        font-size: 70px;
        letter-spacing: 7px;
    }

    #dreaming {
        font-style: normal;
        font-size: 150px;
        letter-spacing: 0px;
    }
}

/* Main: Description */
.bottom-desc {
    margin-bottom: 300px;

    h1 {
        font-size: 36px;
        font-style: italic;
        text-align: center;
        margin: 50px auto;
    }

    p {
        color: white;
        max-width: 800px;
        margin: 0 auto;
        font-size: 32px;
        font-family: $my-serif;
        text-align: center;
    }

    svg {
        @include to-center();
        margin: 100px auto 0;
    }
}



/* ┌──────────────────┐
       PART 2: SONG
   └──────────────────┘ */

.streaming-container {
    @include to-center();
    margin-bottom: 300px;
    height: 1000px;
    background-image: url(bg-images/pic2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    filter: blur;
    
    .stream-top {
        @include to-center();

        .nj-image {
            position: relative;
            filter: drop-shadow(2px 11px 4px $my-white);

            img {
                width: 520px;
                margin-left: 100px;

                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                 -ms-transition: all 1s ease;
                     transition: all 1s ease;
            }

            img:hover {
                width: 620px;
                margin-left: 200px;
                
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                  -o-transition: all 1s ease;
                 -ms-transition: all 1s ease;
                     transition: all 1s ease;
            }

            .title {
                position: absolute;
                bottom: 40px;
                left: 310px;
                max-width: 270px;
                text-align: right;
                color: $my-black;
                font-family: $my-serif;
                font-size: 70px;
                -webkit-text-stroke-width: 1.5px;
                -webkit-text-stroke-color: $my-black;
                -webkit-text-fill-color: $my-white;
            }
        }

        .sites {
            .stream-header {
                margin-left: 110px;
                max-width: 580px;
                color: $my-white;
                font-family: "Gioviale";
                font-size: 150px;
                line-height: 170px;

            }

            .sites-container {
                margin: 0 auto;
                max-width: 50%;

                .stream-logos {
                    margin: 5px;
                    width: 120px;
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.line-bg {
    @include center-absolute();
    top: 4200px;
}

.video-analysis {
    position: relative;

    .analysis-header {
        @include center-absolute();
        text-align: right;
        color: $my-white;
        font-family: "Gioviale";
        font-size: 150px;
        line-height: 150px;
    }

    .analysis-bg {
        margin: 200px auto;
        display: block;
        width: 700px;
    }
}

.storytelling {
    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }

    .parallax {
        filter: drop-shadow(1px 1px 7px $my-white);
        position: relative;
        width: 100%;
        height: 410px;
        overflow: hidden;
        margin-bottom: 100px;
        @include to-center();

        .parallax-pic {
            img {
                top: 0;
                @include center-absolute;
            }
        }

        .parallax-text {
            @include center-absolute();

            top: 250px;
            max-width: 700px;
            text-shadow: 2px 2px 5px $my-black;

            h2 {
                color: $color-accent;
                font-family: $my-sans;
                font-size: 30px;
                font-style: italic;
            }

            p {
                color: white;
                font-size: 20px;
                font-family: $my-serif;
            }

            .white {
                color: $my-white;
            }
        }
    }
}



/* ┌──────────────────┐
       PART 3: ARTIST
   └──────────────────┘ */

.artist {
    .artist-header {
        @include to-center;
        color: $my-white;
        font-family: "Gioviale";
        font-size: 150px;
        margin-top: 200px;
    }

    .perf-video {
        @include to-center;
    }

    .artist-name1 {
        @include center-absolute();
        font-family: "Suerte Outline";
        font-size: 100px;
    }

    .artist-name2 {
        @include center-absolute();
        font-family: "Suerte";
        font-size: 90px;
    }

    .NWJNS {
        margin-top: 150px;
        @include to-center;
        flex-wrap: wrap;


        .members {
            width: 315px;
            height: 315px;
            margin: 20px;
            background-color: $my-white;

            .mem-pic {
                display: block;
                margin: 30px auto 10px;
                width: 70%;
            }

            p {
                text-align: center;
                font-family: $my-serif;
                color: white;
                font-size: 32px;
            }
        }

        .members:hover {
            animation: jelly 0.5s;
            filter: brightness(1.1);
        }
    }
}

/* Animations */

/* JELLY BOUNCE */
@keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

